<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blaze cats</title>
    <link rel="stylesheet" href="estilo.css">
</head>

<body>
    <header>
        <nav>

            <div id="logo">
                <a href="blaze cats.html">
                    <img src="icon2.png" alt="">
                </a>
            </div>
            <a class="nav" href="celulares.html">Celulares</a>
            <a class="nav" href="computadores.html">computadores</a>
            <a class="nav" href="accesorios.html">Accesorios</a>
            <a class="nav" href="quienessomos.html">Contactanos</a>
            <div class="logos">
                <a class="logosesion" href="iniciarsesion.html"> <img src="cat_profile_80px.png" alt=""></a>
                <a class="logocarrito" href="carritos.html"> <img src="shopping_80px.png" alt=""></a>
            </div>
            </div>
        </nav>
        <div class="container-items">
            <DIV class="item">
                <figure>
                    <img src="https://falabella.scene7.com/is/image/Falabella/15357558_1?wid=240&hei=240&qlt=70&fmt=webp"
                        alt="">


                </figure>
                <div class="info-producto">
                    <h2 class="info">Teclado </h2>
                    <p class="precio">$40.000</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>


            </DIV>
            <DIV class="item">
                <figure>
                    <img src="https://imagedelivery.net/4fYuQyy-r8_rpBpcY7lH_A/Falabella/125916581/4370773_1/width=240,height=240,quality=70,format=webp,fit=pad"
                        alt="" class="imagen">


                </figure>
                <div class="info-producto">
                    <h2 class="info">Parlante </h2>
                    <p class="precio">$120.990</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>


            </DIV>
            <DIV class="item">
                <figure>
                    <img src="https://falabella.scene7.com/is/image/Falabella/gsc_112662606_355440_1?wid=240&hei=240&qlt=70&fmt=webp"
                        alt="">


                </figure>
                <div class="info-producto">
                    <h2 class="info">Audifonos 2.0 </h2>
                    <p class="precio">$60.990</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>


            </DIV>
            <DIV class="item">
                <figure>
                    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcTiv5GTTWIvphSOME0q3R8hFbU87I0o92znR-EoxYaVR9PDtHffU4jnmpbx6vHtY8PH5uKj4zHMOKB2XbO9YhBBWGhUTWPc5ms6jhT173tqagXhW8krZldqCDUe4QIQfrEfQINUmfhC&usqp=CAc"
                        alt="">


                </figure>
                <div class="info-producto">
                    <h2 class="info">cubrecamaras </h2>
                    <p class="precio">$1.990</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>


            </DIV>
        </div>
        <div class="container-items">
            <DIV class="item">
                <figure>
                    <img src="https://cl.todomoda.com/media/catalog/product/7/9/79564301_1_1_20220727120516.jpg?quality=75&bg-color=255,255,255&fit=bounds&height=841&width=657&canvas=657:841"
                        alt="">


                </figure>
                <div class="info-producto">
                    <h2 class="info">strap </h2>
                    <p class="precio">$899</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>


            </DIV>
            <DIV class="item">
                <figure>
                    <img src="https://store.storeimages.cdn-apple.com/4982/as-images.apple.com/is/MT223?wid=1144&hei=1144&fmt=jpeg&qlt=90&.v=1693248280978"
                        alt="" class="imagen">


                </figure>
                <div class="info-producto">
                    <h2 class="info">carcasa </h2>
                    <p class="precio">$10.990</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>


            </DIV>
            <DIV class="item">
                <figure>
                    <img src="https://encrypted-tbn2.gstatic.com/shopping?q=tbn:ANd9GcT03aygS1I5fMD023PN6MPP30Ieya3ZPPont8DFn9MDNtNXZ6Lp_qUvainnHBxBS5n9EG2S4N0zfBENfak3WwpJsQUCDVnx5z4wMVAGjsB5TxNtfP8aWpzBZigqQCvDXkcLLj3lbScD&usqp=CAc"
                        alt="">


                </figure>
                <div class="info-producto">
                    <h2 class="info">cargador </h2>
                    <p class="precio">$20.990</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>


            </DIV>
            <DIV class="item">
                <figure>
                    <img src="https://falabella.scene7.com/is/image/Falabella/14797554_1?wid=240&hei=240&qlt=70&fmt=webp"
                        alt="">


                </figure>
                <div class="info-producto">
                    <h2 class="info">Audifonos </h2>
                    <p class="precio">$60.000</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>


            </DIV>
        </div>
    </header>
</body>
<nav class="info2">
    <div>Bienvenido</div>
    <div>Encuentra nuestra tienda aquí</div>
    <iframe class="mapa"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13279.537265778903!2d-71.22034901649748!3d-33.68605951226853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966255eae7c04481%3A0xe3caacae1378b779!2sCarnicer%C3%ADa%20Dicarco%20-%20Local%20Melipilla%20II!5e0!3m2!1ses-419!2scl!4v1712600345161!5m2!1ses-419!2scl" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</nav>
</html>