{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blaze cats</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <script src="static/js/FuncionUsd.js"></script>
</head>

<body>
    <header>
    {% include 'nav.html' %}
        <div class="container-items">
            <DIV class="item">
                <figure>
                    <img src="https://falabella.scene7.com/is/image/Falabella/16927885_2?wid=240&hei=240&qlt=70&fmt=webp"
                        alt="">


                </figure>
                <div class="info-producto">
                    <h2 class="info">Huawei P40 Pro</h2>
                    <p class="precio">$799.990</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>
                </div>


            </DIV>
            <DIV class="item">
                <figure>
                    <img src="https://falabella.scene7.com/is/image/Falabella/17037702_2?wid=240&hei=240&qlt=70&fmt=webp"
                        alt="" class="imagen">


                </figure>
                <div class="info-producto">
                    <h2 class="info">Huawei P30 Pro</h2>
                    <p class="precio">$799.990</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>


            </DIV>
            <DIV class="item">
                <figure>
                    <img src="https://falabella.scene7.com/is/image/Falabella/16907151_1?wid=240&hei=240&qlt=70&fmt=webp"
                        alt="">


                </figure>
                <div class="info-producto">
                    <h2 class="info">Iphone 15 pro max</h2>
                    <p class="precio">$999.990</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>


            </DIV>
            <DIV class="item">
                <figure>
                    <img src="https://falabella.scene7.com/is/image/Falabella/17007785_1?wid=240&hei=240&qlt=70&fmt=webp"
                        alt="">


                </figure>
                <div class="info-producto">
                    <h2 class="info"> Samsung S24 Ultra</h2>
                    <p class="precio">$999.990</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>


            </DIV>
        </div>
        <div class="container-items">
            <DIV class="item">
                <figure>
                    <img src="https://falabella.scene7.com/is/image/Falabella/16737961_1?wid=800&hei=800&qlt=70"
                        alt="">


                </figure>
                <div class="info-producto">
                    <h2 class="info">Samsung S28</h2>
                    <p class="precio">$799.990</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>


            </DIV>
            <DIV class="item">
                <figure>
                    <img src="https://agenciaswayonline.com/wp-content/uploads/2023/06/Celular-Samsung-Galaxy-A24-verde.jpg"
                        alt="" class="imagen">


                </figure>
                <div class="info-producto">
                    <h2 class="info">Galaxy A35</h2>
                    <p class="precio">$1.399.990</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>


            </DIV>
            <DIV class="item">
                <figure>
                    <img src="galaxy a.jpg"
                        alt="">


                </figure>
                <div class="info-producto">
                    <h2 class="info">Galaxy A30 </h2>
                    <p class="precio">$599.990</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>


            </DIV>
            <DIV class="item">
                <figure>
                    <img src="https://falabella.scene7.com/is/image/Falabella/17088202_1?wid=240&hei=240&qlt=70&fmt=webp"
                        alt="">


                </figure>
                <div class="info-producto">
                    <h2 class="info">Honor X7G  </h2>
                    <p class="precio">$899.990</p>
                    <p class="button_slide slide_right">AÑADIR AL CARRITO</p>

                </div>
    </header>
</body>
<nav class="info2">
    <div>Bienvenido</div>
    <div>Encuentra nuestra tienda aquí</div>
    <iframe class="mapa"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13279.537265778903!2d-71.22034901649748!3d-33.68605951226853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966255eae7c04481%3A0xe3caacae1378b779!2sCarnicer%C3%ADa%20Dicarco%20-%20Local%20Melipilla%20II!5e0!3m2!1ses-419!2scl!4v1712600345161!5m2!1ses-419!2scl" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</nav>
</html>
