<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blaze cats</title>
    <link rel="stylesheet" href="estilo.css">
</head>

<body>
    <header>
        <nav>

            <div id="logo">
                <a href="blaze cats.html">
                    <img src="icon2.png" alt="">
                </a>
            </div>
            <a class="nav" href="celulares.html">Celulares</a>
            <a class="nav" href="computadores.html">computadores</a>
            <a class="nav" href="accesorios.html">Accesorios</a>
            <a class="nav" href="quienessomos.html">Contactanos</a>
            <div class="logos">
                <a class="logosesion" href="iniciarsesion.html"> <img src="cat_profile_80px.png" alt=""></a>
                <a class="logocarrito" href="carritos.html"  > <img src="shopping_80px.png" alt=""></a>
            </div>
            </div>
        </nav>
        <div id="banner">
            <div id="titulo">
            
            </div>
            <div id="boron">
                
            </div>
        </div>
    </header>
    <div class="container-2">
        <div class="wrapper">
            <div class="wrapper-holder">
                <div id="slider-img-1"></div>
                <div id="slider-img-2"></div>
                <div id="slider-img-3"></div>
                <div id="slider-img-4"></div>
            </div>
        </div>
        <div class="button-holder">
            <a href="#slider-img-1"
            class="button"></a>
            <a href="#slider-img-2"
            class="button"></a>
            <a href="#slider-img-3"
            class="button"></a>
            <a href="#slider-img-4"
            class="button"></a>
        </div>
    </div>



</body>
<!-- codigo de primera fila de items -->

<div class="container-items">
    <DIV class="item">
        <figure>
            <img src="https://falabella.scene7.com/is/image/Falabella/17031115_1?wid=1500&hei=1500&qlt=70" alt="">




        </figure>
        <div class="info-producto">
            <h2 class="info">Notebook HP gamer Victus </h2>
            <p class="precio">$580.000</p>
            <p class="button_slide slide_right">AÑADIR AL CARRITO</p>


        </div>




    </DIV>
    <DIV class="item">
        <figure>
            <img src="https://falabella.scene7.com/is/image/Falabella/124660851_1?wid=800&hei=800&qlt=70" alt="">




        </figure>
        <div class="info-producto">
            <h2 class="info">Notebook Gamer MSI Cyborg</h2>
            <p class="precio">$875.690</p>
            <p class="button_slide slide_right">AÑADIR AL CARRITO</p>


        </div>




    </DIV>
    <DIV class="item">
        <figure>
            <img src="https://falabella.scene7.com/is/image/Falabella/gsc_120911923_2850732_1?wid=1500&hei=1500&qlt=70"
                alt="">




        </figure>
        <div class="info-producto">
            <h2 class="info">PC Gamer Intel I5 16GB DDR4</h2>
            <p class="precio">$965.000</p>
            <p class="button_slide slide_right">AÑADIR AL CARRITO</p>


        </div>




    </DIV>
    <DIV class="item">
        <figure>
            <img src="https://falabella.scene7.com/is/image/Falabella/gsc_126681362_4651014_1?wid=1500&hei=1500&qlt=70"
                alt="">




        </figure>
        <div class="info-producto">
            <h2 class="info">PC Gamer AMD Ryzen 5 </h2>
            <p class="precio">$629.990</p>
            <p class="button_slide slide_right">AÑADIR AL CARRITO</p>


        </div>



<!-- codigo de segunda fila de items. -->
    </DIV>
</div>

<div class="container-items">
    <DIV class="item">
        <figure>
            <img src="https://falabella.scene7.com/is/image/Falabella/gsc_129522692_5629164_1?wid=1500&hei=1500&qlt=70" alt="">




        </figure>
        <div class="info-producto">
            <h2 class="info">Notebook Gamer Acer Nitro5 I5 </h2>
            <p class="precio">$850.900</p>
            <p class="button_slide slide_right">AÑADIR AL CARRITO</p>


        </div>




    </DIV>
    <DIV class="item">
        <figure>
            <img src="https://falabella.scene7.com/is/image/Falabella/gsc_127063066_4797251_1?wid=1500&hei=1500&qlt=70" alt="">




        </figure>
        <div class="info-producto">
            <h2 class="info">PC Elite Intel i9 14900KF</h2>
            <p class="precio">$1.250.900</p>
            <p class="button_slide slide_right">AÑADIR AL CARRITO</p>


        </div>




    </DIV>
    <DIV class="item">
        <figure>
            <img src="https://falabella.scene7.com/is/image/Falabella/gsc_119719542_2454949_1?wid=1500&hei=1500&qlt=70"
                alt="">




        </figure>
        <div class="info-producto">
            <h2 class="info">PC Amd Ryzen 7 5700G</h2>
            <p class="precio">$900.900</p>
            <p class="button_slide slide_right">AÑADIR AL CARRITO</p>


        </div>




    </DIV>
    <DIV class="item">
        <figure>
            <img src="https://falabella.scene7.com/is/image/Falabella/16929268_01?wid=1500&hei=1500&qlt=70"
                alt="">




        </figure>
        <div class="info-producto">
            <h2 class="info">Notebook ROG Strix AMD Ryzen7 </h2>
            <p class="precio">$920.650</p>
            <p class="button_slide slide_right">AÑADIR AL CARRITO</p>


        </div>




    </DIV>
</div>
<nav class="info2">
    <div>Bienvenido</div>
    <div>Encuentra nuestra tienda aquí</div>
    <iframe class="mapa"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13279.537265778903!2d-71.22034901649748!3d-33.68605951226853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966255eae7c04481%3A0xe3caacae1378b779!2sCarnicer%C3%ADa%20Dicarco%20-%20Local%20Melipilla%20II!5e0!3m2!1ses-419!2scl!4v1712600345161!5m2!1ses-419!2scl" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</nav>

