{% load static %}

<!DOCTYPE html>

<html lang="es">


<head>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="sesion">
    <header>{% include 'nav.html' %}</header>
    <div class="login form">

        
        <br>
        <form method="post" id="form-login" >
            <h1>Iniciar Sesión</h1>
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary btn-block btn-large">Iniciar sesion.</button>

        </form>
        <form method="post" id="form-register"  action="{% url 'registro' %}">
            {% csrf_token %}
            <button href="{% url 'registro' %}"   class="btn btn-secundary btn-block btn-large">Registrarse</button>
        </form>
        <p class="warnings" id="warnings"></p>
    </div>

    <script src="validaciones.js"></script>
</body>

</html>