{% load static %}

<!DOCTYPE html>

<html lang="es">


<head>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="sesion">
    <header>{% include 'nav.html' %}</header>
    <div class="login form">

        <h1>Acceder</h1>
        <form method="post" id="form" >
            {% csrf_token %}
            {{ form.as_p }}

            <button type="submit" class="btn btn-primary btn-block btn-large">Iniciar sesion.</button>

        </form>
        <form method="post" action="{% url 'registro' %}">
            {% csrf_token %}
            <a href="{% url 'registro' %}">Registrarse</a>
        </form>
        <p class="warnings" id="warnings"></p>
    </div>

    <script src="validaciones.js"></script>
</body>

</html>