{% load static %}

<!DOCTYPE html>

<html lang="es">
{% include 'nav.html' %}

<head>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <script src="static/js/FuncionUsd.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion Blaze Cats</title>

</head>

<body class="sesion">

    <div class="login form">
        <a class="logo" href="blaze cats.html">
            <img src="icon2.png" alt="">
        </a>
        <h1>Acceder</h1>
        <form method="post" id="form" action="">
            {% csrf_token %}
            {{form}}

            <button type="submit" class="btn btn-primary btn-block btn-large">Iniciar sesion.</button>

        </form>
        <form method="post" action="{% url 'Registro' %}">
            {% csrf_token %}
            <button type="register" class="btn btn-secondary btn-block btn-large">¿No tienes una cuenta?</button>
        </form>
        <p class="warnings" id="warnings"></p>
    </div>

    <script src="validaciones.js"></script>
</body>

</html>