
<nav>

    <div id="logo">
        <a href="{% url 'home' %}">
            <img src="static/img/icon2.png" alt="">
        </a>
    </div>
    <a class="nav" href="{% url 'celulares' %}">Celulares</a>
    <a class="nav" href="{% url 'computadores' %}">computadores</a>
    <a class="nav" href="{% url 'accesorios' %}">Accesorios</a>
    <a class="nav" href="{% url 'quienessomos' %}">Contactanos</a>
   <div class="logos">
    
    <a class="logosesion" href=""> <img src="static/img/cat_profile_80px.png" alt=""></a>
    <a class="logocarrito" href="{% url 'carritos' %}"  > <img src="static/img/shopping_80px.png" alt=""></a>
   </div>
    </div>
</nav>