{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blaze cats</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" >
    <script src="static/js/FuncionUsd.js"></script>
</head>

<body>
    <header>
        {% include 'nav.html' %}

            <h1 class="cajatitulo item2">Formulario de contacto <img src="" alt="">


                <div class="caja">Hola, para poder ayudarte, te pedimos que completes correctamente todos los campos
                    solicitados en el siguiente formulario. Uno de nuestros ejecutivos de atención al cliente te
                    contactará
                    en un plazo de 24 horas hábiles. Recuerda que siempre te puedes comunicar con nuestro canal de
                    atención
                    telefónica al +56 2 8080 0000 de lunes a domingo desde las 09:00 hasta las 18:00 hrs, excepto
                    feriados/festivos </div>

                <div class="caja item2">
                    <form method="post" action="blaze cats.html">
                        <p>Nombre</p>
                        <input type="text" name="p" placeholder="Nombre " required="required" />
                        <p>Apellido</p>
                        <input type="text" name="u" placeholder="Apellido" required="required" />
                        <p>Usuario</p>
                        <input type="text" name="p" placeholder="Nombre de Usuario" required="required" />
                        <p>Correo Electronico</p>
                        <input type="text" name="p" placeholder="Correo electronico " required="required" />
                        <p>Numero de telefono</p>
                        <input type="text" name="p" placeholder="+56" required="required" />
                        <p>Comentario</p>
                        <textarea name="textarea" id="Comentario" cols="30" style="color:rgb(255, 255, 255)" rows="10"></textarea>
                        <button type="submit" class="btn btn-primary btn-block btn-large btnform">Enviar.</button>
                    </form>
                </div>
            </H1>
        

    </header>
</body>
<nav class="info2">
    <div></div>
    <div>Encuentra nuestra tienda aquí</div>
    <iframe class="mapa"  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13279.537265778903!2d-71.22034901649748!3d-33.68605951226853!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x966255eae7c04481%3A0xe3caacae1378b779!2sCarnicer%C3%ADa%20Dicarco%20-%20Local%20Melipilla%20II!5e0!3m2!1ses-419!2scl!4v1712600345161!5m2!1ses-419!2scl" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</nav>
</html>
