{% load static %}

<!DOCTYPE html>
<html lang="es">
    {% include 'nav.html' %}

<head>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" >
    <script src="{% static 'js/Validaciones2.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion Blaze Cats</title>
</head>

<body class="sesion">

    <div class="login">
        <a class="logo" href="{% url 'home' %}">
            <img src="{% static 'img/icon2.png' %}" alt="">
        </a>
        <h1>Registrar Nuevo Usuario</h1>
        <form method="post" id="form" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary btn-block btn-large">Registrar</button>
        </form>
        <p class="warnings" id="warnings"></p>
    </div>

</body>

</html>
