<!DOCTYPE html>
<html lang="es">
<nav>


    <a class="nav" href="celulares.html">Celulares</a>
    <a class="nav" href="computadores.html">computadores</a>
    <a class="nav" href="accesorios.html">Accesorios</a>
    <a class="nav" href="quienessomos.html">Contactanos</a>
    <div class="logos">
        <a class="logosesion" href="iniciarsesion.html"> <img src="cat_profile_80px.png" alt=""></a>
        <a class="logocarrito" href="carritos.html"> <img src="shopping_80px.png" alt=""></a>
    </div>
    </div>
</nav>

<head>
    <link rel="stylesheet" href="estilo.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar sesion Blaze Cats</title>
</head>

<body class="sesion">

    <div class="login">
        <a class="logo" href="blaze cats.html">
            <img src="icon2.png" alt="">
        </a>
        <h1>Registrar Nuevo Usuario</h1>
        <form method="post" id="form" action="iniciarsesion.html">
            <input type="text" name="Nombre" placeholder="Nombre " required/>

            <input type="text" name="Apellido" placeholder="Apellido" required/>


            <input type="text" name="" id="name" placeholder="Nombre de Usuario" />


            <input type="text" name="" id="email" name="" placeholder="Correo electronico" />


            <input type="password" name="" id="password" placeholder="Contraseña" />


            <input type="password" name="" id="password2" placeholder="Confirme la Contraseña" />


            <button type="submit" class="btn btn-primary btn-block btn-large">Registrar.</button>

        </form>
        <p class="warnings" id="warnings"></p>
    </div>

    <script src="validaciones2.js"></script>
</body>

</html>